# Python
backend/venv/
backend/__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.*
**/.env
**/.env.local

# Next.js
frontend/node_modules/
frontend/.next/
frontend/out/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db